<section id="background">
  <div class="container py-5">
    <div class="row bg-dark">
      <div class="col-7 p-3 text-white">
        <h1>Hello that's me</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit
          accusamus deleniti reiciendis voluptatem, dolor ipsam odit, fugit
          culpa ducimus incidunt nam! Ex labore ducimus accusantium quibusdam
          pariatur nesciunt culpa rerum!
        </p>
      </div>
      <img src="/assets/person.jpg" class="col-5 img-fluid p-3" alt="" />
    </div>
  </div>
</section>
