<div class="seperator"></div>
<section class="pb-4">
  <div class="conatiner">
    <div class="row">
      <div class="col-10 row mx-auto mt-4" id="card">
        <img src="/assets/venice.webp" class="col-4 img-fluid p-4" alt="" />
        <div class="col-8 p-4">
          <h3>Hello from Venice</h3>
          <p>Venice</p>
          <p>2020-10-05</p>
          <p>7pm</p>
          <p>created by:</p>
          <p>Olaf</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            commodi distinctio alias, maiores fugit sunt? Dolorem minima sequi
            qui necessitatibus.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="conatiner">
    <div class="row">
      <div class="col-10 row mx-auto mt-4" id="card">
        <img
          src="/assets/neuschwanstein.jpg"
          class="col-4 img-fluid p-4"
          alt=""
        />
        <div class="col-8 p-4">
          <h3>Hello from Neuschwanstein</h3>
          <p>Bavaria</p>
          <p>2020-12-20</p>
          <p>8pm</p>
          <p>created by:</p>
          <p>Elsa</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            commodi distinctio alias, maiores fugit sunt? Dolorem minima sequi
            qui necessitatibus.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="conatiner">
    <div class="row">
      <div class="col-10 row mx-auto mt-4" id="card">
        <img src="/assets/prague.webp" class="col-4 img-fluid p-4" alt="" />
        <div class="col-8 p-4">
          <h3>Hello from Prague</h3>
          <p>Prague</p>
          <p>2020-04-05</p>
          <p>2pm</p>
          <p>created by:</p>
          <p>Christoph</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            commodi distinctio alias, maiores fugit sunt? Dolorem minima sequi
            qui necessitatibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
